/* HONEYBEE/CAPPUCCICONS ICON SET */

.voidcharlinks a:before {
  font-family:'cappuccicons';
}

.voidcharlinks a.agenda:before {
  content: "\e905";
}

.voidcharlinks a.blaster:before {
  content: "\e966";
}

.voidcharlinks a.blueprint:before {
  content: "\e972";
}

.voidcharlinks a.book:before {
  content: "\e97e"
}

.voidcharlinks a.bookmark:before {
  content: "\e97d";
}

.voidcharlinks a.brokenheart:before {
  content: "\e992";
}

.voidcharlinks a.camera:before {
  content: "\e9ae";
}

.voidcharlinks a.card:before {
  content: "\e9c2"
}

.voidcharlinks a.chat:before {
  content: "\e9d8";
}

.voidcharlinks a.cigarette:before {
  content: "\e9f9";
}

.voidcharlinks a.clapperboard:before {
  content: "\e9fc";
}

.voidcharlinks a.constellation:before {
  content: "\ea26";
}

.voidcharlinks a.contacts:before {
  content: "\ea28";
}

.voidcharlinks a.crown:before {
  content: "\ea3e";
}

.voidcharlinks a.crystalball:before {
  content: "\ea40";
}

.voidcharlinks a.document:before {
  content: "\ea5d";
}

.voidcharlinks a.earth:before {
  content: "\ea79";
}

.voidcharlinks a.edit:before {
  content: "\ea7d";
}

.voidcharlinks a.filmroll:before {
  content: "\ea9e";
}

.voidcharlinks a.fire:before {
  content: "\eaa3";
}

.voidcharlinks a.flower:before {
  content: "\eaba";
}

.voidcharlinks a.folder:before {
  content: "\eabc";
}

.voidcharlinks a.swempire:before {
  content: "\eacf";
}

.voidcharlinks a.swrepublic:before {
  content: "\ead0";
}

.voidcharlinks a.group:before {
  content: "\eafa";
}

.voidcharlinks a.heart:before {
  content: "\eb04";
}

.voidcharlinks a.image:before {
  content: "\eb24";
}

.voidcharlinks a.instagram:before {
  content: "\eb2c";
}

.voidcharlinks a.jedi:before {
  content: "\eb34";
}

.voidcharlinks a.jupiter:before {
  content: "\eb3c";
}

.voidcharlinks a.musicnote:before {
  content: "\eba0";
}

.voidcharlinks a.notes:before {
  content: "\ebaf";
}

.voidcharlinks a.pencil:before {
  content: "\ebe1";
}

.voidcharlinks a.phone:before {
  content: "\ebeb";
}

.voidcharlinks a.phonealt:before {
  content: "\ebed";
}

.voidcharlinks a.pin:before {
  content: "\ebfa";
}

.voidcharlinks a.quill:before {
  content: "\ec16";
}
