/* DEVELOPMENT TEMPLATES */

.devsetone {
  width: 450px;
  background: rgba(var(--color1),0.7);
  height: auto;
  margin: 20px auto;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.devsetone.drabble {
  width: 500px;
}

.devsetone.drabble .inner {
  width: 460px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 10px;
  border: 5px solid var(--element2);
  margin-bottom: 10px;
  background: var(--element2);
  text-align: justify;
}

.devsetone.one img {
  width: 400px;
  border-radius: 10px;
  border: 5px solid var(--element2);
  margin-bottom: 10px;
}

.devsetone.two .inner, .devsetone.three .inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.devsetone.two img {
  width: 180px;
  border-radius: 10px;
  border: 5px solid var(--element2);
  margin-bottom: 10px;
}

.devsetone.three img {
  width: 120px;
  border-radius: 10px;
  border: 5px solid var(--element2);
  margin-bottom: 10px;
  margin-right: 6.5px;
}

.devsetone .tag {
  padding: 5px;
  background: var(--element2);
  color: rgba(var(--color1),1);
  font-weight: normal;
  border-radius: 5px;
  width: max-content;
  margin-top: 10px;
  font-size: 18px;
}
