/* THREAD TEMPLATE */

.takeitthread {
  width: 450px;
  min-height: 100px;
  height: auto;
  background: var(--element2);
  -webkit-box-shadow: 0px 10px 14px 2px rgba(0,0,0,0.16); 
box-shadow: 0px 10px 14px 2px rgba(0,0,0,0.16);
  margin: 10px auto;
  border-radius: 10px;
}

.takeitthread .inner {
  min-height: 50px;
  width: 450px;
  padding: 25px;
  text-align: justify;
  box-sizing: border-box;
}

.takeitthread .bottom {
  width: 450px;
  height: 75px;
  background: rgba(var(--color1),1);
  border-radius: 0px 40px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: 25px;
  padding-left: 25px;
}

.takeitthread .bottom .tag {
  background: var(--element2);
  height: 20px;
  padding: 5px;
  border-radius: 5px;
  color: rgba(var(--color1),1);
}

.takeitthread .bottom .ph {
  color: var(--white);
  font-size: 50px;
}

.takeitthread .bottom img {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

.takeitthread b {
  font-weight: normal;
  background: rgba(var(--color1),0.7);
  color: var(--white);
  padding-right: 2px;
  padding-left: 2px;
}

/* ANOTHER THREAD TEMPLATE */

.babythread {
  width: 450px;
  background: var(--element2);
  -webkit-box-shadow: 0px 10px 14px 2px rgba(0,0,0,0.16); 
  box-shadow: 0px 10px 14px 2px rgba(0,0,0,0.16);
  min-height: 100px;
  margin: 10px auto;
  border-radius: 5px;
  border-top: 10px solid rgba(var(--color1),1);
  border-bottom: 10px solid rgba(var(--color1),1);
  box-sizing: border-box;
  padding: 20px;
  text-align: justify;
  
}

.babythread .tag {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  color: rgba(var(--color1),1);
}

.babythread b {
  font-weight: normal;
  background: rgba(var(--color1),0.7);
  color: var(--white);
  padding-right: 2px;
  padding-left: 2px;
}

.babythread .img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.babythread .img img {
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.babythread.imgwrap img {
  float: left;
  margin-right: 15px;
  border-radius: 10px;
  height: 110px;
  width: 110px;
}
