/* COMM CODE ONE */

.mytcomm1 {
  width: 300px;
  height: 450px;
  background-image: linear-gradient(90deg, rgba(var(--color1),1) 0%, rgba(var(--color2),1) 100%);
  margin: 20px auto;
  border-radius: 20px;
  -webkit-box-shadow: 0px 9px 17px -2px rgba(0,0,0,0.36); 
box-shadow: 0px 9px 17px -2px rgba(0,0,0,0.36);
  position: relative;
}

.mytcomm1 img.texting {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  border-radius: 20px;
}

.mytcomm1 .tag {
  position: absolute;
  right: 15px;
  top: 10px;
  color: var(--white);
  text-transform: uppercase;
  font-size: 20px;
}

.mytcomm1 .tag a {
  color: var(--white);
}

.mytcomm1 .inner {
  width: 300px;
  height: 400px;
  background: var(--element2);
  border-radius: 20px;
  padding: 15px;
  box-sizing: border-box;
}

.mytcomm1 .inner .inside {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  padding-right: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mytcomm1 .inner .inside p {
  text-align: justify;
  background-image: linear-gradient(90deg, rgba(var(--color1),0.5) 0%, rgba(var(--color2),0.5) 100%);
  max-width: 200px;
  padding: 7px;
  border-radius: 10px 10px 0px 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.mytcomm1 .inner .inside p img {
  max-width: 190px;
  border-radius: 5px;
}

.mytcomm1 .inner .inside::-webkit-scrollbar-track {
     background-color: var(--element2);
}

.mytcomm1 .inner .type {
  width: 195px;
  background: var(--element1);
  margin-top: 5px;
  padding: 5px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 10px;
  border-radius: 20px;
  color: var(--element3);
}

.mytcomm1 .inner .send {
  width:45px;
  height: 45px;
  background-image: linear-gradient(90deg, rgba(var(--color1),1) 0%, rgba(var(--color2),1) 100%);
  border-radius: 22.5px;
  margin-left: 5px;
  margin-top: 2.5px;
  color: var(--white);
  font-size: 30px;
  box-sizing: border-box;
  padding: 5px;
  padding-top: 8px;
}

.mytcomm1 .inside.call {
  text-align: justify;
  display: block;
}

.mytcomm1 .inside.call b {
  background-image: linear-gradient(90deg, rgba(var(--color1),0.5) 0%, rgba(var(--color2),0.5) 100%);
  color: var(--text);
  font-weight: normal;
}

.mytcomm1 .inner .callicon {
  background-image: linear-gradient(90deg, rgba(var(--color1),1) 0%, rgba(var(--color2),1) 100%);
  margin: 5px auto;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 7.5px;
}

.mytcomm1 .inner .callicon .cp {
  color: var(--white);
  font-size: 25px;
}


/* COMM CODE TWO */

/* COMM CODE TWO */

.mytcomm2 {
  width: 300px;
  height: 450px;
  margin: 20px auto;
  border-radius: 20px;
  -webkit-box-shadow: 0px 9px 17px -2px rgba(0,0,0,0.36); 
box-shadow: 0px 9px 17px -2px rgba(0,0,0,0.36);
  position: relative;
  background: var(--element2);
  box-sizing: border-box;
  padding-top: 0.1px;
}

.mytcomm2 .notch {
  width: 150px;
  background: var(--element2);
  border-radius: 0px 0px 20px 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 75px;
}

.mytcomm2 .inner {
  margin: 10px;
  width: 280px;
  height: 430px;
   background-image: linear-gradient(90deg, rgba(var(--color1),0.7) 0%, rgba(var(--color2),0.7) 100%);
  border-radius: 15px;
  padding: 10px;
  padding-top: 30px;
  box-sizing: border-box;
}

.mytcomm2 .inner .tag {
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 18px;
  margin-bottom: 10px;
}

.mytcomm2 .inner .tag a {
  color: var(--white);
}

.mytcomm2 .inner .inside {
  width: 100%;
  height: 310px;
  overflow-y: scroll;
  padding-right: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mytcomm2 .inner .inside p {
  text-align: justify;
  background: rgba(var(--element2r),0.7);
  max-width: 200px;
  padding: 7px;
  border-radius: 10px 10px 0px 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.mytcomm2 .inner .inside p img {
  max-width: 200px;
  border-radius: 5px;
}

.mytcomm2 .inner .inside::-webkit-scrollbar-track {
     background-color: transparent;
}

.mytcomm2 .inner .type {
  width: 210px;
  height: 30px;
  background: var(--element2);
  margin-top: 10px;
  border-radius: 15px;
  font-size: 10px;
  box-sizing: border-box;
  padding: 7px;
  padding-top: 3px;
  color: var(--element4);
}

.mytcomm2 .inner .send {
  padding-top: 10px;
}

.mytcomm2 .inner .send .cp {
  color: var(--white);
  font-size: 30px;
  margin-left: 15px;
}

.mytcomm2 .inside.image {
  height: 215px;
}

.mytcomm2 img.circle {
  height: 80px;
  width: 80px;
  border-radius: 80px;
  border: 5px var(--element2) solid;
  margin-left: 85px;
}
