.mytannounce {
  width: 550px;
   background-image: linear-gradient(90deg, rgba(var(--color1),1) 0%, rgba(var(--color2),1) 100%);
  height: auto;
  margin: 20px auto;  
  -webkit-box-shadow: 0px 9px 17px -2px rgba(0,0,0,0.36); 
  box-shadow: 0px 9px 17px -2px rgba(0,0,0,0.36);
  border-radius: 10px;
  padding-top: 20px;
  text-align: center;
}

.mytannounce b.title {
  background: var(--element1);
  padding: 5px;
  border-radius: 5px;
}

.mytannounce .inner {
  width: 550px;
  background: var(--element2);
  height: auto;
  min-height: 100px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: justify;
  box-sizing: border-box; 
  padding: 20px;
}

.mytannounce .inner .heading {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: normal;
  background-image: linear-gradient(90deg, rgba(var(--color1),0.5) 0%, rgba(var(--color2),0.5) 100%);
  padding: 5px;
  color: var(--white);
  border-radius: 5px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.mytannounce .faces {
  width: 100%;
  height: auto;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mytannounce .faces .claim {
  background-image: linear-gradient(90deg, rgba(var(--color1),0.7) 0%, rgba(var(--color2),0.7) 100%);
  width: 250px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.mytannounce .faces i {
  color: var(--white);
  font-size: 14px;
  text-transform: capitalize;
}

.mytannounce .faces b {
  color: var(--white);
  font-size: 18px;
  line-height: 1;
  font-weight: normal;
  text-tranform: capitalize;
}

.mytannounce .reserves {
  width: 100%;
  height: auto;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mytannounce .reserves .claim {
  width: 510px;
  height: 40px;
  background-image: linear-gradient(90deg, rgba(var(--color1),0.7) 0%, rgba(var(--color2),0.7) 100%);
  display: flex;
  padding: 5px;
  box-sizing: border-box;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  color: var(--white);
  border-radius: 10px;
  margin-bottom: 10px;
}

.mytannounce .reserves .claim b {
  margin-right: 5px;
  color: var(--white);
  font-weight: normal;
  font-size: 16px;
}

.mytannounce .directorymain {
  width: 100%;
  height: auto;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mytannounce .directorymain a {
  padding: 5px;
  background-image: linear-gradient(90deg, rgba(var(--color1),0.7) 0%, rgba(var(--color2),0.7) 100%);
  color: var(--white);
  border-radius: 10px;
  margin-bottom: 10px;
}

