/* THREAD TEMPLATE ONE */

.mytthread1 {
  width: 450px;
  background-image: linear-gradient(90deg, rgba(var(--color1),1) 0%, rgba(var(--color2),1) 100%);
  min-height: 100px;
  height: auto;
  margin: 20px auto;
  border-radius: 20px;
  box-sizing: border-box;
  padding-top: 40px;
  -webkit-box-shadow: 0px 9px 17px -2px rgba(0,0,0,0.36); 
  box-shadow: 0px 9px 17px -2px rgba(0,0,0,0.36);
}

.mytthread1 .inner, .mytthread2 .inner {
  width: 450px;
  min-height: 100px;
  background: var(--element2);
  position: relative;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 10px;
  text-align: justify;
}

.mytthread1 .inner .tag {
  margin: 0px auto 5px;
  width: 200px;
  background: var(--element3);
  height: 20px;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mytthread1 .inner b, .mytthread2 .inner b, .mytthread3 .inner b, .mytthread4 .inner b, .mytthread5 .inner b {
  background-image: linear-gradient(90deg, rgba(var(--color1),0.5) 0%, rgba(var(--color2),0.5) 100%);
  color: var(--text);
  font-weight: normal;
}

/* THREAD TEMPLATE TWO */

.mytthread2 {
  width: 450px;
  background-image: linear-gradient(90deg, rgba(var(--color1),1) 0%, rgba(var(--color2),1) 100%);
  min-height: 100px;
  height: auto;
  margin: 20px auto;
  border-radius: 20px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 9px 17px -2px rgba(0,0,0,0.36); 
box-shadow: 0px 9px 17px -2px rgba(0,0,0,0.36);
  display: flex;
  flex-direction: column;
}

.mytthread2 img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 10px auto;
}

.mytthread2 img.rectangle {
  width: 300px;
  height: 150px;
  border-radius: 10px;
}

.mytthread2 .cp {
  margin: 10px auto;
  color: var(--white);
  font-size: 50px;
}

.mytthread2 .tag {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--white);
}

.mytthread2 .tag a {
  color: var(--white);
  text-transform: uppercase;
}

/* THREAD TEMPLATE THREE */

.mytthread3 {
  width: 450px;
  min-height: 100px;
  height: auto;
  background: var(--element2); -webkit-box-shadow: 0px 9px 17px -2px rgba(0,0,0,0.36); 
box-shadow: 0px 9px 17px -2px rgba(0,0,0,0.36);
  margin: 20px auto;
  border-radius: 20px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.mytthread3 img {
  width: 450px;
  height: 200px;
  border-radius: 20px;
}

.mytthread3 .inner {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: justify;
  padding-bottom: 10px;
}

.mytthread3 .tag {
  margin: 0px auto 10px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

/* THREAD TEMPLATE FOUR */

.mytthread4 {
  width: 500px;
  background-image: linear-gradient(180deg, rgba(var(--color1),1) 0%, rgba(var(--color2),1) 100%);
  min-height: 100px;
  height: auto;
  margin: 20px auto;
  border-radius: 20px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 9px 17px -2px rgba(0,0,0,0.36); 
box-shadow: 0px 9px 17px -2px rgba(0,0,0,0.36);
  display: flex;
}

.mytthread4 .tag {
  width: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.mytthread4 .tag.image {
   justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.mytthread4 .tag.image img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  border-radius: 20px;
}

.mytthread4 .tag.image .cp {
  color: var(--white);
  font-size: 40px;
  margin-top: 10px;
}

.mytthread4 .tag a {
  color: var(--white);
  writing-mode: vertical-rl;
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 20px;
}

.mytthread4 .inner {
  width: 450px;
  background: var(--element2);
  border-radius: 0px 20px 20px 0px;
  box-sizing: border-box;
  padding: 20px;
  text-align: justify;
}

.mytthread4 .column {
  width: 50px;
}

.mytthread4 .circle {
  width: 40px;
  height: 40px;
  background: var(--element2);
  margin: 10px auto;
  border-radius: 20px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 7.5px;
}

.mytthread4 .circle .cp {
  font-size: 25px;
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, rgba(var(--color1),1) 0%, rgba(var(--color2),1) 100%);
}

.mytthread4 .circle.image {
  padding-top: 0px;
}

.mytthread4 .circle img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.mytthread5 {
  width: 460px;
  background-image: linear-gradient(90deg, rgba(var(--color1),0.5) 0%, rgba(var(--color2),0.5) 100%);
  min-height: 100px;
  height: auto;
  margin: 20px auto;
  border-radius: 20px;
  box-sizing: border-box;
  padding-top: 10px;
  -webkit-box-shadow: 0px 9px 17px -2px rgba(0,0,0,0.36); 
box-shadow: 0px 9px 17px -2px rgba(0,0,0,0.36);
}

.mytthread5 .inner {
  width: 450px;
  min-height: 100px;
  background: var(--element2);
  position: relative;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 10px;
  text-align: justify;
}

.mytthread5 .tag {
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
}

.mytthread5 .tag a {
  color: var(--white);
  background-image: linear-gradient(90deg, rgba(var(--color1),0.5) 0%, rgba(var(--color2),0.5) 100%);
  padding: 5px;
  border-radius: 10px;
}

.mytthread5 .inner .image {
  margin: 0px auto 10px;
  width: 120px;
  height: 120px;
   background-image: linear-gradient(90deg, rgba(var(--color1),0.5) 0%, rgba(var(--color2),0.5) 100%);
  box-sizing: border-box;
  padding: 10px;
  border-radius: 60px;
}

.mytthread5 .inner .image img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.mytthread5 .inner .image.rectangle {
  width: 320px;
  height: 170px;
  border-radius: 20px;
}

.mytthread5 .inner .image.rectangle img {
  width: 300px;
  height: 150px;
  border-radius: 20px;
}
