/* THREAD TEMPLATE SET ONE */

.overpassthread {
  width: 500px;
  min-height: 100px;
  background: var(--shade-white-h);
  margin: 20px auto;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  padding-top: 20px;

}

.overpassthread .inside {
    font-family: var(--main-font);
  box-sizing: border-box;
  padding: 20px;
  padding-top: 0px;
  text-align: justify;
  color: var(--text-light);
}

.overpassend {
  width: 500px;
  height: 80px;
  background: var(--shade-black-h);
  border-radius: 5px;
}

.overpassthread .tagged {
  font-family: var(--accent-font);
  font-size: 22px;
  box-sizing: border-box;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-white);
  width: 100%;
  height: 100%;
}

.overpassthread .overpassend img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 5px;
}

.overpassthread .tagged a {
  margin-left: 5px;
  background-clip: text;
  color: transparent;
  background-image: var(--gradient-1-d);
}

.overpassthread b, .overpassthread i {
  background: var(--gradient-1);
 background-clip: text;
 color: transparent;
}

.overpassthread u {
   padding: 0 1px;
 background: var(--gradient-1) bottom / 100% 1px no-repeat;
  text-decoration: none;
}

.overpassthread .timestamp {
  text-align: right;
  width: 100%;
  padding-right: 20px;
  box-sizing: border-box;
  font-family: var(--second-font);
  color: var(--text-light);
  padding-bottom: 10px;
}

.overpassthread .grpicon {
  background: var(--group-icon); 
  background-size: cover; 
  background-position: center;
    width: 60px;
  height: 60px;
  margin-right: 10px;
}




/* TIMELINE */

.voidline {
  width: 800px;
  min-height: 100px;
  margin: 20px auto;
  border-radius: 5px;
  background: var(--shade-white-h);
  font-family: var(--main-font);
  color: var(--text-dark);
  box-shadow: var(--box-shadow);
  font-size: 16px;
}

.voidline .top {
  width: 800px;
  height: 80px;
  background: var(--shade-black-h);
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 15px;
  font-family: var(--accent-font);
  font-size: 40px;
  color: var(--text-white);
}

.voidline .bottom {
  width: 800px;
  min-height: 60px;
  flex-wrap: wrap;
  background: var(--shade-black-h);
  border-radius: 5px;
  display: flex;
  align-items: space-between;
  box-sizing: border-box;
  padding: 15px;
  gap: 15px;
}

.voidline .bottom .info {
  flex-grow: 1;
  background-image: var(--gradient-06-r);
  padding: 10px;
  border-radius: 5px;
  font-family: var(--second-font);
  color: var(--text-white);
  text-align: center;
  box-shadow: var(--box-shadow);
}

.voidline .inner {
  width: 100%;
  min-height: 50px;
  box-sizing: border-box;
  padding: 15px;
  padding-right: 30px;
}

.voidline .inner .entry {
  display: flex;
}

.voidline .inner .entry .ph {
  font-size: 40px;
  margin-right: 15px;
  background-clip: text;
  color: transparent;
  background-image: var(--gradient-1-d);
}

.voidline .inner .entry .timestamp {
 font-family: var(--second-font);
   padding: 0 1px;
 background: var(--gradient-1) bottom / 100% 1px no-repeat;
  text-decoration: none;
  margin-bottom: 5px;
}

.voidline .inner .entry a {
  text-decoration: none;
  background-clip: text;
  color: transparent;
  background-image: var(--gradient-1-d);
}

.voidline .inner .description {
  text-align: justify;
}
