.voidcolors {
--voidbg1: 266, 266, 266;
--voidbg2: #f0f0f0;
--voidwhite: #ffffff;
--voidwhitedark: #ffffff;
--voidbg3: #f6f6f6;
}

html, html[data-theme="dark"] .voidcolors {
--voidbg1: 54, 57, 62;
--voidbg2: #4a4a4a;
--voidbg3: #36393f;
--voidwhitedark: #4f545c;
}
.voideyes {
  color: var(--font);
  width: 500px;
  margin: 20px auto;
  height: auto;
  background: linear-gradient(180deg, rgba(var(--mgrgb),.5) 0%, rgba(var(--mgrgb2),.5) 50%, rgba(var(--mgrgb3),.5) 100%);
  border-radius: 30px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: center;
}

.voideyes-in {
  width: 500px;
  border-radius: 20px;
  background: rgba(var(--voidbg1),0.8);
  box-sizing: border-box;
  padding: 15px;
  text-align: justify;
  line-height: 1.5;
}

.voideyestag {
  margin-top: 15px; 
  margin-bottom: 15px;
  color: var(--voidwhite);
}

.voideyestag a.user-tagged.mgroup-4, .voideyestag a.user-tagged.mgroup-3, .voideyestag a.user-tagged.mgroup-6, .voideyestag a.user-tagged.mgroup-7, .voideyestag a.user-tagged.mgroup-8, .voideyestag a.user-tagged.mgroup-9, .voideyestag a.user-tagged.mgroup-10, .voideyestag a.user-tagged.mgroup-11, .voideyestag a.user-tagged.mgroup-12, .voideyestag a.user-tagged.mgroup-13, .voideyestag a.user-tagged.mgroup-14, .voideyestag a.user-tagged.mgroup-15, .voideyestag a.user-tagged.mgroup-16, .voideyestag a.user-tagged.mgroup-17, .voideyestag a.user-tagged.mgroup-18 {
  background: none!important;
  color: var(--voidwhite)!important;
  -webkit-background-clip: none!important; 
  -webkit-text-fill-color: var(--voidwhite)!important;
}

.voideyes b, .voideyes i, .voidchar b, .voidchar i, .voidcharrow b {
  background: var(--graddark);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.voidchar .fas {
  background: none !important;
 -webkit-box-decoration-break: initial !important;
-webkit-background-clip: initial !important;
-webkit-text-fill-color: initial !important;
 color: var(--voidwhite) !important;
}



/* CHARACTER TEMPLATES ONE */

.voidchar {
  color: var(--font);
  width: 600px;
  margin: 20px auto;
  height: auto;
  background: linear-gradient(180deg, rgba(var(--mgrgb),.5) 0%, rgba(var(--mgrgb2),.5) 50%, rgba(var(--mgrgb3),.5) 100%);
  border-radius: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative; 
}

.voidchar.centerimg {
  justify-content: center;
}

.voidchar .charicon {
  position: absolute;
  font-size: 80px;
  left: 16px;
  color: var(--voidwhite);
}

.voidchar img.sideimage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 20px;
  position: absolute;
  left: 16px;
}

.voidchar-in {
  width: 500px;
  border-radius: 20px;
  background: rgba(266,266,266,0.8);
  box-sizing: border-box;
  padding: 15px;
  align-self: flex-end;
}

.voidchar-in.middle {
  margin-top: 15px;
  margin-bottom: 15px;
}

.voidcharlinks {
  text-align: center;
  margin-top: 5px;
}

.voidcharlinks a {
  background: none !important;
 -webkit-box-decoration-break: initial !important;
-webkit-background-clip: initial !important;
-webkit-text-fill-color: initial !important;
 color: var(--voidwhite) !important;
}

/* ANOTHER CHARACTER THING */

.voidchar2 {
  color: var(--font);
  width: 600px;
  margin: 20px auto;
  height: auto;
  background: linear-gradient(180deg, rgba(var(--mgrgb),.5) 0%, rgba(var(--mgrgb2),.5) 50%, rgba(var(--mgrgb3),.5) 100%);
  border-radius: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 10px;
}

.voidcharrow {
  width: 600px;
  height: 100px;
  border-radius: 20px;
  background: rgba(266,266,266,0.8);
  box-sizing: border-box;
  padding: 10px;
  align-self: flex-end;
  display: flex;
}

.voidcharrow img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 20px;
}

.voidcharrow information {
  display: flex;
  flex-direction: column;
}

.voidcharrow b {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 10px;
  margin-top: 15px;
  font-family:'Raleway', sans-serif;
}

.voidcharrow i {
  font-weight: 200;
  margin-left: 10px;
}

/* ONLINE FRIENDS COMM CODE */

.tablcomm {
  width: 325px;
  min-height: 300px;
  height: auto;
  background: var(--voidbg3);
  margin: 20px auto;
  border-radius: 50px 5px 5px 5px;
  position: relative;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 40px;
}

.tablcomm .deco {
  width: 75px;
  min-height: 300px;
  height: 100%;
  background: linear-gradient(1800deg, rgba(var(--mgrgb),.5) 0%, rgba(var(--mgrgb2),.5) 50%, rgba(var(--mgrgb3),.5) 100%);
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 0px 5px 5px 0px;
  z-index: 1;
}

.tablcomm .deco img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-top: 15px;
  margin-left: 12.5px;
  border-radius: 50px;
  border: 1px solid var(--voidbg3);
}

.tablcomm name {
  text-transform: uppercase;
  font-size: 16px;
  padding: 2px;
  border-radius: 5px;
  background: var(--gradlight);
}

.tablcomm name:hover {
  background: var(--graddark);
  color: var(--voidwhite);
}

.tablcomm .online b {
  color: rgba(var(--mgrgb2), 1);
}

.tablcomm .online {
  margin-top: 5px;
  font-size: 11px;
}

.tablcomm .online .line {
  width: 11px;
  height: 11px;
  border-radius: 100%;
  display: inline-block;
}

.tablcomm .online .line.green {
  background: #0aa612;
}

.tablcomm .online .line.red {
  background: #bf0814;
}

.tablcomm .online .line.orange {
  background: #e06f04;
}

.tablcomm .online .line.gray {
  background: #999999;
}

.tablcomm .typing {
  width: 299px;
  height: 24px;
  background: var(--voidbg3);
  border: 2px solid var(--voidwhitedark);
  z-index: 2;
  position: absolute;
  left: 15px;
  bottom: 10px;
  margin-bottom: 5px;
  border-radius: 20px;
  box-shadow: 1px 1px 9px -1px rgba(0,0,0,0.1);
-webkit-box-shadow: 1px 1px 9px -1px rgba(0,0,0,0.1);
-moz-box-shadow: 1px 1px 9px -1px rgba(0,0,0,0.1);
  font-size: 13px;
  box-sizing: border-box;
  padding-left: 10px;
}

.tablcomm .typing b {
  font-weight: normal;
  color: rgba(var(--mgrgb2), 1); 
}

.tablcomm p {
  z-index: 2;
  position: relative;
  max-width: 270px;
  background: var(--voidbg2);
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 13px;
  border: 1px solid var(--voidwhitedark);
}

/* SAB'S BIRTHDAY TRACKER */

.happybday {
  width: 500px;
  background: var(--voidbg3);
  min-height: 200px;
  height: auto;
  margin: 20px auto;
  border-radius: 10px;
  border: 2px solid var(--voidwhitedark);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 10px;
}

.happybday .top {
  width: 500px;
  height: 90px;
  border-radius: 7px 7px 0px 0px;
  background: var(--gradmid);
  font-family: 'Cutive', serif;
  color: var(--voidwhite);
  font-size: 50px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding-left: 10px;
  padding-top: 10px;
}

.happybday h1 {
  width: 500px;
  height: 50px;
  font-size: 25px;
  background: var(--gradmid);
  font-weight: normal;
  font-family: 'Cutive', serif; 
  box-sizing: border-box;
  padding-top: 5px;
  padding-left: 10px;
  color: var(--voidwhite);
}

.happybday i {
  font-style: normal;
  color: rgba(var(--mgrgb3),1);
  margin-left: 10px;
}

.happybday a.thread:before {
  font-family:'cappuccicons';
  content: "\ebde";
}

.happybday a.dev:before {
  content: "\ecb9";
  font-family:'cappuccicons';
}

.happybday a.comm:before {
  font-family:'cappuccicons';
  content: "\ebeb";
}

.happybday a {
  margin-left: 20px;
  background: var(--graddark);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.happybday h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: normal;
  width: 460px;
  padding-left: 20px;
  text-align: justify;
}

.happybday h2 a {
  margin-left: 0px;
}

/* ANOTHER COMM TEMPLATE */

.phonecomm {
  width: 300px;
  background: linear-gradient(1800deg, rgba(var(--mgrgb),.75) 0%, rgba(var(--mgrgb2),.75) 50%, rgba(var(--mgrgb3),.75) 100%);
  height: 455px;
  border-radius: 20px;
  margin: 20px auto;
  box-sizing: border-box;
  padding-top: 10px;
  font-family: 'poppins', sans-serif;
}

.phonecomm .inner {
  width: 260px;
  height: 340px;
  border-radius: 20px;
  background: rgba(var(--voidbg1),0.8);
  box-sizing: border-box;
  padding: 10px;
  text-align: justify;
  line-height: 1.5;
  margin: 20px;
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 16px;
  overflow-y: scroll;
}

.phonecomm .inner::-webkit-scrollbar {
     width: 0px;
     height: 0px;
     background: transparent;
     display: none;
}
.phonecomm .inner::-webkit-scrollbar-track {
     background: transparent;
}
 .phonecomm .inner::-webkit-scrollbar-thumb {
   background: transparent;
}

.phonecomm .inner p {
  width: 240px;
  background: var(--gradlight);
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px 10px 0px 10px;
}

.phonecomm .type {
  width: 260px;
  height: 25px;
  border-radius: 20px;
  background: rgba(var(--voidbg1),0.8);
  box-sizing: border-box;
  text-align: justify;
  line-height: 1.5;
  margin-left: 20px;
  font-size: 15px;
  padding-left: 5px;
  padding-top: 1px;
}

.phonecomm .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  color: var(--voidwhite);
  font-size: 20px;
  font-family: 'Cutive', serif;
}

.phonecomm .top img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 10px;
}

.phonecomm b, .phhonecomm i {
   background: var(--graddark);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* CHALLENGE ONE */

.c1thread {
  border: 10px solid var(--voidbg3);
  background-image: linear-gradient(1800deg, rgba(var(--mgrgb),.5) 0%, rgba(var(--mgrgb2),.5) 50%, rgba(var(--mgrgb3),.55) 100%);
  width: 470px;
  border-radius: 35px;
  margin: 20px auto;
}

.c1thread .inner {
  width: 450px;
  height: auto;
  min-height: 200px;
  background: var(--voidbg3);
  margin: 20px auto;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-align: justify;
  line-height: 1.5;
}

.c1thread .inner img {
  float: left;
  margin-right: 10px;
  height: 87px;
  width: 87px;
  object-fit: cover;
  border-radius: 20px;
}

.c1thread .inner .tag {
  text-align: center;
  padding: 5px;
  background: var(--gradlight);
  margin: 0px auto;
  margin-top: 15px;
  width: 400px;
  border-radius: 20px;
  color: var(--voidwhite);
  text-transform: capitalize;
  font-size: 17px;
}

.c1thread .inner h1 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  color: rgba(var(--mgrgb3),1);
}

.c1thread b, .c1thread i {
   background: var(--graddark);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.c1thread a.user-tagged.mgroup-4, .c1thread a.user-tagged.mgroup-3, .c1thread a.user-tagged.mgroup-6, .c1thread a.user-tagged.mgroup-7, .c1thread a.user-tagged.mgroup-8, .c1thread a.user-tagged.mgroup-9, .c1thread a.user-tagged.mgroup-10, .c1thread a.user-tagged.mgroup-11, .c1thread a.user-tagged.mgroup-12, .c1thread a.user-tagged.mgroup-13, .c1thread a.user-tagged.mgroup-14, .c1thread a.user-tagged.mgroup-15, .c1thread a.user-tagged.mgroup-16, .c1thread a.user-tagged.mgroup-17, .c1thread a.user-tagged.mgroup-18 {
  background: none!important;
  color: var(--voidwhite)!important;
  -webkit-background-clip: none!important; 
  -webkit-text-fill-color: var(--voidwhite)!important;
}

/* WINTER DOWN REQUEST */

@font-face {
font-family: 'alinea';
src: url('https://files.jcink.net/uploads2/loreofthevoid/alineatypeface_webfont.woff2') format('woff2'),
url('https://files.jcink.net/uploads2/loreofthevoid/alineatypeface_webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

.winterdownout {
  width: 440px;
  min-height: 520px;
  height: auto;
  border: 5px solid var(--voidbg3);
  border-radius: 20px;
  background-image: linear-gradient(1800deg, rgba(var(--mgrgb),.5) 0%, rgba(var(--mgrgb2),.5) 50%, rgba(var(--mgrgb3),.55) 100%);
  margin: 20px auto;
}


.winterdown {
  width: 420px;
  min-height: 500px;
  height: auto;
  background: var(--voidbg3);
  margin: 10px auto;
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 20px;
  position: relative;
}

.winterdown titleimg {
  position: relative;
  height: 200px;
  width: 400px;
}

.winterdown titleimg h1 {
  position: absolute;
  top: 0px;
  left: 150px;
  font-family: 'Alinea';
  color: rgba(81, 193, 252,1);
  font-size: 60px;
  font-weight: normal;
}

.winterdown titleimg h2 {
  position: absolute;
  bottom: 100px;
  font-family: 'Alinea';
  color: rgba(81, 193, 252,1);
  right: 150px;
  font-size: 60px;
  font-weight: normal;
  text-align: center;
}

.winterdown titleimg img {
  width: 380px;
  object-fit: covr;
  height: 200px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 20px;
}

.winterdown .inner {
  width: 380px;
  margin-top: 15px;
  margin-left: 20px;
  text-align: justify;
  font-size: 15px;
}

.winterdown .inner h1 {
  font-size: 40px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: 'Alinea';
  color: rgba(81, 193, 252,1);
  font-weight: normal;
  text-align: center;
}

.winterdown .inner .imagerow {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.winterdown .inner .imagerow img {
  width: 58px;
  height: 58px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.winterdown .inner .character {
  display: flex;
  position: relative;
}

.winterdown .inner .character img {
  width: 58px;
  height: 58px;
  margin-left: 5px;
  margin-right: 5px;
  object-fit: cover;
  border-radius: 5px;
}

.winterdown .inner .character h1 {
  margin-top: 3px;
  margin-bttom: 0px;
  font-size: 30px;
}

.winterdown .inner .character i {
  position: absolute;
  top: 32px;
  left: 65px;
  font-style: normal;
  font-size: 13px;
  color: var(--fontcol);
}

.winterdown .inner h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgba(81, 193, 252,1);
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}

.winterdown .inner b, .winterdown .inner i {
  color: rgba(81, 193, 252,1);
}

.winterdown .inner iframe {
  border-radius: 5px;
}

/* GAME OF LOVE REQUEST */

.gamelove {
  width: 600px;
  min-height: 200px;
  height: auto;
  background: var(--gradlight);
  margin: 20px auto;
  border: 10px solid var(--voidbg3);
  border-radius: 35px;
}

.gameloveimg {
  background-image: url('https://images.unsplash.com/photo-1514125669375-59ee3985d08b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dHJvcGljYWx8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60');
  width: 620px;
  margin: 20px auto;
  border-radius: 40px;
  
}

.gamelove .inner {
  width: 580px;
  height: auto;
  min-height: 200px;
  background: var(--voidbg3);
  margin: 20px auto;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-align: justify;
  line-height: 1.5;
  padding: 30px;
}

.gamelove .inner h1 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 30px;
  font-family: 'Calligraffitti', cursive;
  text-align: center;
  background: var(--graddark);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.gamelove .inner b {
  color: rgba(var(--mgrgb2),1);
}

.gamelove .inner b.yellow {
  color: #ffd083;
}

.gamelove .inner b.orange {
  color: #fe9866;
}

.gamelove .inner b.pink {
  color: #ffaab0;
}

.gamelove .inner b.blue {
  color: #03919B;
}

.gamelove .inner b .fas {
  font-size: 30px;
}

.gamelove .inner b.green {
  color: #007043;
}

.gamelove .inner b.lightblue {
  color: #9DDED6;
}
